html {

}

h1 {
    text-align: center;
}

.gameTable {
    width: 500px;
    height: 500px;
    border-collapse: collapse;
    border: 2px solid black;
    padding: 0;
    margin: 0 auto;
}

.gameRow {
    box-sizing: border-box;
    height: 11.111%;
    margin: 0;
}


.gameRow:nth-of-type(3n+4) {
    border-top: 2px solid black;
}

.gameCell {
    box-sizing: border-box;
    position: relative;
    width: 11.111%;
    border: 1px solid gray;
    margin: 0;
}

.gameRow .gameCell:nth-of-type(3n+4) {
    border-left: 2px solid black;
}

.gameCell:hover {
    background-color: #d1e1ff;
}

.gameCell.selectedCell {
    background-color: #b1d1ff;
}

.relatedCell {
    background-color: #e1e4ec;
}

.cellValue {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.cellValue span {
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 12.5%;
    text-align: center;
    font-size: 2rem;
}


.pencilGrid {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    line-height: 33.33%;
}

.pencilGridCell {
    display: inline-block;
    position: relative;
    height: 33.33%;
    width: 33.33%;
}

.pencilGridCell:hover {
    /* background-color: #ddeeff; */
}



.startValue {
    font-weight: 700;
}

.userValue {
    font-color: #3232aa;
}

.errorValue {
    background-color: #ff8888;
}

.errorValue:hover {
    background-Color: #ffbbbb;
}

.errorValue.userValue {
    font-color: red;
}



.flex-container {
    display: flex;
}

